<section id="sponsors" class="content-section text-center noselect bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2  class="title">Sponsors</h2>

				<div class="row">
					{% for sponsor in site.data.2016.sponsors %}
						<div class="col-sm-2 col-xs-6 text-center">
							<img src="/assets/images/{{ sponsor.image }}"
								class="img-responsive img-rounded sponsors"
								alt="{{ sponsor.name }}"
								title="{{ sponsor.name }}">
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>