---
title: Forum Telecom Haiti - La rencontre des acteurs de télécommunications en Haiti
permalink: /2016/
---

{% include header.html %}

{% include navigation.html %}

<div id="carousel-id" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-id" data-slide-to="0" class=""></li>
		<!--  <li data-target="#carousel-id" data-slide-to="1" class=""></li>
		<li data-target="#carousel-id" data-slide-to="2" class="active"></li> -->
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="/assets/images/image1.png">
			<div class="container">
				<!-- <div class="carousel-caption">
					<h1>Example headline.</h1>
					<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
				</div> -->
			</div>
		</div>
		<!--  <div class="item">
			<img src="http://placehold.it/1920x1080">
			<div class="container">
				<div class="carousel-caption">
					<h1>Another example headline.</h1>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
				</div>
			</div>
		</div>
		<div class="item ">
			<img src="http://placehold.it/1920x1080">
			<div class="container">
				<div class="carousel-caption">
					<h1>One more for good measure.</h1>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
				</div>
			</div>
		</div> -->
	</div>
	<!--  <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> -->
</div>

	<section id="countdown" class="content-section text-center noselect">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="clock-builder-output"></div>
			</div>
		</div>
	</div>
</section>
	<section id="a-propos" class="content-section text-center noselect">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>À Propos</h2>

				<p>La Journée mondiale des télécommunications et de la société de l&#39;information a pour but de

contribuer à sensibiliser l&#39;opinion aux perspectives qu&#39;ouvre l&#39;utilisation de l&#39;Internet et des

autres technologies de l&#39;information et de la communication (TIC) dans les domaines

économique et social, ainsi qu&#39;aux moyens permettant de réduire la fracture numérique.

Le 17 mai marque l&#39;anniversaire de la signature de la première Convention télégraphique

internationale et de la création de l&#39;Union internationale des télécommunications.</p>

				<p>Les TIC et les applications en ligne associées sont des outils déterminants pour l&#39;amélioration

de la gouvernance et des services en zone rurale. Elles permettent par exemple, d&#39;assurer des

soins de santé communautaires et de donner accès à l&#39;eau potable et à l&#39;assainissement, à

l&#39;éducation, à l&#39;alimentation et au logement, d&#39;améliorer la santé maternelle, de réduire la

mortalité infantile, de donner davantage d&#39;autonomie aux femmes et aux membres les plus

vulnérables de la société, et enfin, d&#39;assurer la durabilité de l&#39;environnement. Alors que les TIC

dictent de plus en plus les modes de vie et de comportement, elles sont le moteur de la

croissance des échanges et du commerce.</p>
			</div>
		</div>
	</div>
</section>
	<section id="description" class="content-section text-center bg-blue noselect">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Description de l&#39;activité</h2>

				<p>Les 17 et 18 mai 2011 s&#39;est tenue au Karibe convention Center, la conférence HAITI TELECOM

EXPO qui deviendra cinq ans plus tard, soit en 2016, « Forum Telecom Haïti », une initiative

de GESTE-HAITI. Plusieurs Intervenants et partenaires tels que le groupe Croissance avec

Kesner Pharel, Technologie et Communication Solution S.A avec Pierre Samuel et Braincure

Company pour ne citer que ceux-là, ont participé à ce grand événement qui a attiré des

centaines de personnes de différents secteurs de la société.</p>

				<p>Toutefois, nous nous sommes rendu compte que tout le monde ne profitait pas des retombées

socio-économiques des télécommunications. Cette année encore GESTE-Haïti organise «

Forum Telecom Haïti », un forum dans le cadre de la journée mondiale des

télécommunications et de la société de l’information (17 Mai) afin de réunir les différents acteurs

et spécialistes du secteur des télécommunications, pour faire un panorama des questions liées

au développement des réseaux et des services de l’écosystème numérique, et sur l’impact

social des NTIC en Haïti.</p>
			</div>
		</div>
	</div>
</section>
	<section id="objectif" class="content-section text-center bg-red noselect">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>OBJECTIF</h2>

				<p>Forum Telecom Haïti a pour objectif principal de:</p>

				<p><strong><em>Sensibiliser et réunir les différents acteurs et spécialistes du secteur des

télécommunications, pour faire un panorama des questions liées au développement des

réseaux et des services de l&#39;écosystème numérique, et sur l&#39;impact social des NTIC en

Haïti.</em></strong></p>

				<p>« L&#39;entreprenariat dans le secteur des TIC au service du progrès social ».</p>

				<p>Les objectifs secondaires de cette initiative est de:</p>
				<ul class="text-left">
					<li>Mieux faire comprendre les possibilités que l&#39;utilisation de la radio, la télévision, la

téléphonie mobile, l&#39;Internet et des autres technologies de l&#39;information et de la

communication (TIC) peut offrir à la société haïtienne dans la lutte contre le chômage,

l’insécurité, certains problèmes de l’éducation, de l’administration publique et autre.</li>
					<li>Sensibiliser les différents acteurs sur le développement et l’amélioration de l’économie

numérique en Haïti en apportant de nouveaux services et de nouvelle collaboration dans

les secteurs des télécommunications.</li>
					<li>Permettre aux dirigeants du pays et aux entreprises d’offrir leurs points de vue

personnels et leurs puissants aperçus sur les orientations futures dans le secteur des

Télécommunications en Haïti.</li>
					<li>Sensibiliser les instances étatiques concernées à travers un plaidoyer sur l’utilisation

des NTIC (L’administration électronique) pour une meilleure performance de l’Etat.</li>
					<li>Activer et consolider le partenariat entre les décideurs et les entreprises des

télécommunications en Haïti en faveur du développement Social.</li>
				</ul>
				<br><br>
			</div>
		</div>
	</div>
</section>
	<section id="evenement" class="content-section text-center noselect bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>L'Événement</h2>

				<p>Forum Telecom Haïti 2016, se déroulera pendant deux (2) jours, le 17 Mai 2016 de 9h00

Am à 5h00 Pm à l’Hôtel Royal Oasis sous le Thème Mondiale de L’Union Internationale De

Télécommunications (UIT):</p>

				<p><strong>« L&#39;entreprenariat dans le secteur des TIC au service du progrès social »</strong></p>

				<p>C&#39;est un rendez-vous incontournable qui permettra aux jeunes entrepreneurs des NTIC d’avoir

les informations nécessaires du milieu et qui les permettra de saisir les différentes opportunités

offertes par ce secteur. Deux journées où les participants (étudiants, les futurs entrepreneurs

des TIC, Les Medias, les régulateurs, Les operateurs, les décideurs et d’autres institutions des

Télécoms) vont s’échanger aux besoins de leur secteur et de la population haïtienne.</p>

				<p>Tenant compte du fait que plus de la moitié de la population haïtienne, soit 6 à 7 millions, utilise

les réseaux de télécommunications (Radio, télévision, téléphone mobile, Internet, réseaux

sociaux), cet événement compte attirer beaucoup de gens d&#39;ici et d&#39;ailleurs, et aura un important

impact positif dans le secteur des télécommunications relativement au développement socio-

économique du pays.</p>

				<p>Environ 30 institutions sont attendues à cette 1 ère édition de FORUM TELECOM HAITI où il est

prévu la tenue de plusieurs conférences, débats et expositions à l’Hôtel Royal Oasis le 17 mai 2016 de 9:00 AM à 5:00 PM.</p>
			</div>
		</div>
	</div>
</section>
	{% include panelistes.html %}

{% include signup.html %}



{% include sponsors.html %}

{% include team.html %}


<!-- { % include social.html %} -->

{% include contact.html %}

<!-- { % include map.html %} -->

{% include footer.html %}