---
title: Forum Telecom Haiti - La rencontre des acteurs de télécommunications en Haiti
permalink: /2016/
---

{% include header.html %}

{% include 2016/navigation.html %}

{% include 2016/carousel.html %}

{% include 2016/about.html %}

{% include description.html %}

{% include goal.html %}

{% include event.html %}

{% include 2016/presenters.html %}

{% include 2016/signup.html %}

{% include 2016/sponsors.html %}

{% include 2016/team.html %}

<!-- { % include social.html %} -->

{% include map.html %}

{% include contact.html %}

{% include footer.html %}