---
title: Forum Telecom Haiti - La rencontre des acteurs de télécommunications en Haiti
permalink: /
---

{% include header.html %}

{% include navigation.html %}

{% include 2017/carousel.html %}

{% include 2017/info-banner.html %}

{% include 2017/countdown.html %}

{% include about.html %}

<!--{% include description.html %}-->

<!--{% include goal.html %}-->

<!--{% include 2017/event.html %}-->

{% include 2017/presenters.html %}

{% include 2017/banner-presenters.html %}

{% include 2017/signup.html %}

{% include 2017/sponsors.html %}

{% include 2017/team.html %}

<!-- { % include social.html %} -->

{% include map.html %}

{% include contact.html %}

{% include footer.html %}