<!-- <a class="btn btn-primary" data-toggle="modal" href='#cancel-modal'>Trigger modal</a> -->
<div class="modal fade" id="cancel-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title text-center text-warning">
					<i class="fa fa-exclamation-triangle"></i> Report de l'événement !!!</h4>
			</div>
			<div class="modal-body">
				<p><i class="fa fa-info-circle text-info"></i> Suite aux averses de ces dernieres 24heures sur le pays, spécialement dans le département de l'Ouest, causant une pluie intermittente, l'équipe du Forum Telecom Haiti, consciente des difficultés que cela peut occasionner a le regret de vous informer que la tenue de la 2e édition du Forum Telecom Haiti a été reportée.</p>
				<p>Nous nous excusons auprès du grand public qui se préparait à faire le déplacement, les intervenants qui depuis des semaines manifestaient un intéret à partager leurs connaissances à un public passionné de nouvelles technologies.</p>
				<p>Le report du Forum Telecom Haiti est une décision difficile pour nous, tenant compte de toutes les planifications et efforts consentis. Pour l'instant, aucune date n'a été choisie.</p>
				<p>Nous vous remercions pour votre compréhension et la confiance en l'équipe du Forum Telecom Haiti.</p>
				<p>L'équipe du Forum Telecom Haiti vous communiquera bientôt la nouvelle date retenue.</p>
			</div>
			<div class="modal-footer hidden">
<!-- 				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		</div>
	</div>
</div>