<section id="contact" class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div>
					<h2 class="text-center ">
						Contactez-nous <br>
						<small>
							<a class="light" href="mailto:info@forumtelecomhaiti.com">
								<i class="fa fa-envelope"></i> info@forumtelecomhaiti.com
							</a> <br>

							<a href="tel:+50937349392">
								<i class="fa fa-phone"></i> (509) 3734 9392
							</a>
						</small>
					</h2>
				</div>
			</div>
		</div>
	</div>
</section>