<section id="panelistes" class="content-section text-center noselect bg-red">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="title">Les Intervenants</h2>
				<div class="row">
					{% for presenter in site.data.2017.presenters %}

					{% capture modulo %}{{ forloop.index | mod:6 }}{% endcapture %}

					{% if modulo == '0' %}
					 	</div><div class="row">
					{% endif %}

					{% include partials/presenter.html %}

					{% if modulo == '6' %}
					 	</div><div class="row">
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>